<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495723642922-lt7jr3c48t8oopjj2fpqrc832107r1n3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495723642922-lt7jr3c48t8oopjj2fpqrc832107r1n3</string>
	<key>API_KEY</key>
	<string>AIzaSyBKJBdT8jXpHlwWN9ELy3EqRnRNsykO6l4</string>
	<key>GCM_SENDER_ID</key>
	<string>495723642922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.sstinc.AstroApp</string>
	<key>PROJECT_ID</key>
	<string>astroapp-394413</string>
	<key>STORAGE_BUCKET</key>
	<string>astroapp-394413.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495723642922:ios:9a21aac30fc8491bfe4353</string>
</dict>
</plist>